*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #1f1f1f;
    padding: 32px;
    min-height: 80px;
}
nav img{
    max-height: 48px;
    background-color: white;
}
.spacer{
    /* border: 1px solid yellow; */
    display: inline-block;
    /* Paren widdth - Logo width - Menu <ul> width */
    width: calc(100% - 40px - 275px);
}
nav ul{
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li:last-child{
    margin-right: 0px;
}
nav ul li a{
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited{
    color: white;
}
nav ul li a.current{
    color: green;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(229, 145, 000);
}
nav ul li a:active {
    color: green;
}

